{{ define "main" }}
{{ $crumbs := slice (dict "name" "Home" "url" ("/" | relURL)) }}
{{ with .Parent }}{{ if ne .RelPermalink "/" }}{{ $crumbs = $crumbs | append (dict "name" .Title "url" .RelPermalink) }}{{ end }}{{ end }}
{{ $crumbs = $crumbs | append (dict "name" .Title "url" "") }}
{{ partial "page-head.html" (dict "title" .Title "subtitle" .Description "breadcrumbs" $crumbs) }}
{{ $content := .Content }}
<div class="section section-light">
  <div class="container">
    {{ $toc := .TableOfContents }}
    {{ if ge (strings.Count "<li>" (printf "%s" $toc)) 2 }}
    <div class="toc card">
      <p class="toc-title">On this page</p>
      {{ $toc }}
    </div>
    {{ end }}
    <article class="prose">
      {{ $content }}
    </article>
  </div>
</div>
{{ end }}
